<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>Log in with your phone number (registered with meme.care)</h1>
          <div id="login-form">
            <div class="form-group" [hidden]="currentState=='code'">
              <label for="email" class="sr-only">Phone Number</label>
              <input type="number" name="email" id="email" class="form-control" placeholder="9734072595" [(ngModel)]="phone">
            </div>
            <div class="form-group" [hidden]="currentState=='phone'">
              <label for="key" class="sr-only">O.T.P</label>
              <input type="number" name="key" id="key" class="form-control" placeholder="2912" [(ngModel)]="code">
            </div>
            <button id="btn-login" class="btn btn-custom btn-lg btn-block" (click)="submit()">{{(currentState == 'phone')?'Send Code':'Verify Code'}}</button>
          </div>
          <hr>
        </div>
      </div>
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>