<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" height="75" width="75" src="http://spotter.bpac.in/web/images/app/admin.png">
          </a>
          <div class="media-body" style="padding-left:10px;">
            <h4 class="media-heading">{{currentUser.name}}</h4>

            <p>
              <span class="btn btn-info">{{age}}</span>
              <span class="btn btn-warning">{{currentUser.gender}}</span>
              <span class="btn btn-danger" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>Logout
              </span>
            </p>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="margin-top:50px;">
    <div class="col-sm" (click)="startTest('temp')">
      <img class="center" height="160" width="150" src="../assets/hot_temperature-512.png" />
      <span *ngIf="currentData[0].bodyTempareture">{{currentData[0].bodyTempareture}}</span>
    </div>
    <div class="col-sm" (click)="startTest('bp')">
      <img height="160" width="150" src="../assets/2-05-256.png" />
    </div>
    <div class="col-sm" (click)="startTest('emg')">
      <img height="160" width="150" src="../assets/emg.png" />
    </div>
    <div class="col-sm" (click)="startTest('ecg')">
      <img height="160" width="150" src="../assets/pulse-512.png" />
    </div>
  </div>

</div>